*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15 rem;
}
body{
    background-color: rgb(46, 13, 231);
}
.pag{
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    flex-direction: column;
    width: auto;
    height: auto;
}

#container{
    width: 500px;
    height: auto;
    background-color: black;
    margin: 0px 400px;
}


#imagemLink{
    height: 250px;
    width: 100%;
    
}
#agaUm{
    color: white;
}
#pe{
    color: white;
}
#foto{
    width: center;
    height: center;
}

input[type = text]{
    max-width: 1440px;
    min-width: 200px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    margin: 5px;
}

.button-73 {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0px 20px;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-73:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}